:root {
  scrollbar-width: none;
  font-synthesis: none;
  background-color: "#f1f1f1";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
